# Python build & distribution artifacts
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.so
*.o

# C++ compiled binaries
system_pybind

# Test & Pytest logs
*.log

# Simulation data files
*.json
*.npy
*.png

# Specific untracked directories
simulations/simulations_clean_before_july/
test/